* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    background-color: rgb(243,243,243);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container-pai{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    height: 100vh;
}

.cel-instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.cel-instagram img{
    height: 50rem;
}

.conta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    min-height: 34rem;
}

.semelhantes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray
}

.semelhantes:nth-child(1){
    min-height: 19rem;
}

.semelhantes:nth-child(2){
    min-height: 4.5rem;
}

.logo img{
    height: 3.6rem
}

.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.perfil img{
    height: 6rem;
}

.continue{
    background-color: #0095f6;
    padding: 0.6rem;
    border-radius: 0.3rem;
}

.continue a{
    color: #ffffff
}

.remover{
    margin-top: 1rem;
}

.remover a{
    color:#0095f6
}

.semelhantes p{
    color: rgb(160, 160, 160);
}

.links{
    color: #0095f6;
}
.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.baixar{
    color: black;
}

.links-app{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
}

.app-download img{
    height: 2.8rem;
    width: 9.6rem;
}

@media (max-width: 650px){
    .container-pai{
        width:90%;
    }

    .cel-instagram{
        display: none;
    }
    
    .conta{
        width: 100%
    }
}

@media (max-width: 1024px){
    .container-pai{
        width:90%;
    }
}

